<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Home Control Panel
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
        each styleSheet in stylesheets
            link(rel="stylesheet", href="/public/" + styleSheet, type="text/css")
        script.
            var debugThis = #{devMode};
    body
        div#root
        each script in scripts
            script(src="/public/" + script)